# Ignore Play! working directory #
bin/
/db
.eclipse
.idea
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
sbt/
test-2.11/
test/
app-2.11
